{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}


{% block uwr_logo %}
{% endblock %}

{% block all-content %}
<div id="theses-react-root">
	<p class="row justify-content-center">
		        <h1>Prace dyplomowe</h1>
				{% if theses %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nazwa</th>
								<th>Typ</th>
								<th>Status</th>
								<th>Data dodania</th>
							</tr>
						</thead>
						<tbody>
							{% for thesis in theses %}
								<tr>
									<td>{{ thesis.title }}</td>
									<td>{{ thesis.kind }}</td>
									<td>{{ thesis.status }}</td>
									<td>{{ thesis.added }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>Nie ma jeszcze żadnej pracy dyplomowej.</p>
				{% endif %}
	</div>
</div>
{% endblock %}
