{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load crispy_forms_tags %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}


{% block uwr_logo %}
{% endblock %}

{% block all-content %}
<div id="thesis-root">
<div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            {{ thesis.title }}
        </h1>
        {% if user.is_staff or thesis.advisor == request.user.employee %}
            <a class="btn btn-sm btn-outline-info float-right align-bottom" href="{% url 'theses:edit_thesis' thesis.id %}">Edytuj</a>
        {% endif %}
    </div>
    <table class="table table-bordered table-md-responsive d-print-none" id="table-info">
    <colgroup>
        <col class="table-info-type"></col>
    </colgroup>
    <tbody>
        <tr>
            <th scope="row" style="width: 50%">Typ</th>
            <td>
                {{ thesis.get_kind_display }}
            </td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>
                {{ thesis.get_status_display }}
            </td>
        </tr>
        <tr>
            <th scope="row">Promotor</th>
            <td>{% if thesis.advisor %}
                    {{ thesis.advisor }}
                {% else %}
                    Brak
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Promotor wspierający</th>
            <td>{% if thesis.supporting_advisor %}
                    {{ thesis.supporting_advisor }}
                {% else %}
                    Brak
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Zarezerwowana do</th>
            <td>{% if thesis.reserved_until %}
                    {{ thesis.reserved_until }}
                {% else %}
                    Brak daty rezerwacji
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Data dodania</th>
            <td>{{ thesis.added }}</td>
        </tr>
        <tr>
            <th scope="row">Data aktualizacji</th>
            <td>{{ thesis.modified }}</td>
        </tr>
    </tbody>
    </table>
    <h2>Opis pracy dyplomowej</h2>
    {{ thesis.description }}
    {% if can_see_remarks %}
        <h2 class="mt-4">Głosy</h2>
        {% if board_member %}
            <p><a href="{% url 'theses:vote_thesis' thesis.id %}">Oddaj głos na tę pracę</a></p>
        {% endif %}
        {% for vote in votes %}
            <button type="button"
                {% if vote.vote == "zaakceptowana" %}
                    class="btn mb-3 btn-success"
                {% elif vote.vote == "odrzucona" %}
                    class="btn mb-3 btn-danger"
                {% else %}
                    class="btn mb-3 btn-primary"
                {% endif %}
            style="cursor: default;" disabled>
                    <h5 class="card-title">{{ vote.owner }}</h5>
                    <span>{{ vote.vote }}</span>
            </button>
        {% endfor %}
        <h2 class="mt-4">Uwagi</h2>
        {% if board_member %}
            <h4>Edytuj swoją uwagę</h4>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {% crispy remark_form %}
            </form>
            <br/>
        {% endif %}
        {% for remark in remarks %}
            <span class="badge badge-secondary">{{ remark.modified }}</span>
            <h5 class="font-weight-bold">{{ remark.author }}</h5>
            <p>{{ remark.text }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}