{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}


{% block uwr_logo %}
{% endblock %}

{% block all-content %}
<div id="thesis-root">
    <form>
        <div class="form-inline">
            <label for="t-added" class="font-weight-bold pr-3">Dodana:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="t-added" value="{{ thesis.added }}">
            {% if not thesis.reserved_until %}
            <label for="t-reserved" class="font-weight-bold pr-3 ml-5">Zarezerwowana do:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="t-added" value="{{ thesis.reserved_until }}">
            {% endif %}
        </div><br/>
        <div class="form-group">
            <label for="t-title" class="font-weight-bold">Tytuł pracy:</label>
            <input type="text" class="form-control" id="t-title" readonly value="{{ thesis.title }}"/>
        </div>
        <div class="form-group">
            <label for="t-advisor" class="font-weight-bold">Wybrany promotor:</label>
            <input type="text" class="form-control" id="t-advisor" readonly value="{{ thesis.advisor }}"/>
        </div>
        <div class="form-group">
            <label for="t-advisor" class="font-weight-bold">Opis pracy:</label>
            <textarea type="text" class="form-control" id="t-advisor" readonly/>{{ thesis.description }}</textarea>
        </div>

    </form>
</div>
{% endblock %}