{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load crispy_forms_tags %}

{% block main-subtitle %}System prac dyplomowych{% endblock %}

{% block theses_active %} class="active"{% endblock %}


{% block uwr_logo %}
{% endblock %}

{% block all-content %}
<div id="thesis-root">
<div class="d-flex justify-content-between align-items-center">
        <h1 class="d-inline-block">
            {{ thesis.title }}
        </h1>
        {% if can_edit_thesis %}
            <a class="btn btn-sm btn-outline-info float-right align-bottom" href="{% url 'theses:edit_thesis' thesis.id %}">Edytuj</a>
        {% endif %}
    </div>
    <table class="table table-bordered table-md-responsive d-print-none" id="table-info">
    <colgroup>
        <col class="table-info-type"></col>
    </colgroup>
    <tbody>
        <tr>
            <th scope="row" style="width: 50%">Typ</th>
            <td>
                {{ thesis.get_kind_display }}
            </td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>
                {{ thesis.get_status_display }}
            </td>
        </tr>
        <tr>
            <th scope="row">Promotor</th>
            <td>{% if thesis.advisor %}
                    {{ thesis.advisor }}
                {% else %}
                    Brak
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Promotor wspierający</th>
            <td>{% if thesis.supporting_advisor %}
                    {{ thesis.supporting_advisor }}
                {% else %}
                    Brak
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Studenci</th>
            <td>
                {% if students %}
                    {% for student in students %}
                        {{ student }}&nbsp;
                    {% endfor %}
                {% else %}
                    Brak
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Zarezerwowana do</th>
            <td>{% if thesis.reserved_until %}
                    {{ thesis.reserved_until }}
                {% else %}
                    Brak daty rezerwacji
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Data dodania</th>
            <td>{{ thesis.added }}</td>
        </tr>
        <tr>
            <th scope="row">Data aktualizacji</th>
            <td>{{ thesis.modified }}</td>
        </tr>
    </tbody>
    </table>
    <h2>Opis pracy dyplomowej</h2>
    {{ thesis.description }}
    {% if can_see_remarks %}
        <div class="d-flex justflex-row mt-4">
            <h2 class="mr-4 d-inline-block">Głosy</h2>
        </div>
        {% for vote in votes %}
            {% if vote.owner == request.user.employee %}
                <a 
                    {% if vote.vote == "zaakceptowana"%}
                        class="btn mb-3 btn-success"
                    {% elif vote.vote == "odrzucona" %}
                        class="btn mb-3 btn-danger"
                    {% elif vote.vote == "brak głosu" %}
                        class="btn mb-3 btn-primary"
                    {% endif %}
                    {% if not_has_been_accepted %}
                        href="{% url 'theses:vote_thesis' thesis.id %}"
                    {% else %}
                        href="#0"
                        style="cursor: default"
                    {% endif %}
                >
                    <h5 class="card-title">Mój głos</h5>
                    <p class="p-0 m-0">{{ vote.vote }}</p>
                    <small class="p-0 m-0">
                    {% if not_has_been_accepted %}
                        {% if vote.vote == "brak głosu" %}
                            (Oddaj głos)
                        {% else %}
                            (Zmień głos)
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                    </small>
                </a>
            {% else %}
                <button style="cursor: default" disabled
                    {% if vote.vote == "zaakceptowana"%}
                        class="btn mb-3 btn-outline-success"
                    {% elif vote.vote == "odrzucona" %}
                        class="btn mb-3 btn-outline-danger"
                    {% elif vote.vote == "brak głosu" %}
                        class="btn mb-3 btn-outline-primary"
                    {% endif %}
                >
                        <h5 class="card-title">{{ vote.owner }}</h5>
                        <p class="p-0 m-0">{{ vote.vote }}</p>
                        <small class="p-0 m-0">&nbsp;</small>
                </button>
            {% endif %}
        {% endfor %}
        <h2 class="mt-4">Uwagi</h2>
        {% if board_member %}
            {% if not_has_been_accepted %}
                <h4>Edytuj swoją uwagę</h4>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {% crispy remark_form %}
                </form>
                <br/>
            {% endif %}
        {% endif %}
        {% if remarks %}
            {% for remark in remarks %}
            <div class="mb-2">
                <h5 class="d-inline-block">
                    {{ remark.author }}
                    <small class="text-muted">{{ remark.modified }}</small>
                </h5>
                <p>{{ remark.text }}</p>
            </div>
            {% endfor %}
        {% else %}
            Brak uwag.
        {% endif %}
    {% endif %}
</div>
{% endblock %}